<ion-header [translucent]="true">
  <ion-toolbar>
  <div class="bg-color">
    <p>App App</p>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col><img src="../../assets/img/2VN3bn6hWSsp1yBNltvegeeWS2Y.jpg" alt=""></ion-col>
        <ion-col>iPhone 15 <br> ราคา ฿31,920</ion-col>
        <ion-col><ion-button><ion-icon name="trash" size="medium"></ion-icon></ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
